html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

// The only h1 on the page is in our hero, so it is styled very specifically
h1 {
    flex-basis: 100%;
    padding: 1.6667rem;
    border: 2px solid white;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

@media only screen and (min-width: $bp-tablet) {
    h1 {
        max-width: 60%;
    }
}

h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

a {
    color: inherit;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}