// Colors
$white: #ffffff;
$black: #000000;
$dark-gray: #8c8c8c;
$very-dark-gray: #696969;

// Font Stacks
$font-body: 'Alata', sans-serif;
$font-heading: 'Josefin Sans', sans-serif;

// Breakpoints
// pixels / base font size (15px) is equal to ems
$bp-tablet: 42.6667em; // 640px
$bp-desktop: 64em; // 960px
$bp-desktop-large: 96em; // 1440px
