// Colors
$white: #ffffff;
$black: #000000;
$dark-gray: #8c8c8c;
$very-dark-gray: #696969;

// Font Stacks
$font-body: 'Alata', sans-serif;
$font-heading: 'Josefin Sans', sans-serif;

// Font Sizes - type-scale.com perfect-fourth
$font-size-h1: 4.209rem;
$font-size-h2: 3.157rem;
$font-size-h3: 2.369rem;
$font-size-h4: 1.777rem;
$font-size-h5: 1.333rem;
$font-size-xtra-small: 0.75rem;

// Gradients
$linear-gradient-light: rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2);

// Breakpoints
// pixels / base font size (15px) is equal to ems
$bp-tablet: 42.6667em; // 640px
$bp-desktop: 64em; // 1100px
$bp-desktop-large: 96em; // 1440px
