.about {
    margin-top: 6rem;
    text-align: center;

    &__image {
        margin: 0 auto;
    }

    &__description {
        max-width: 90%;
        margin: 0 auto;
    }

    &__text {
        background-color: $white;
    }
}

@media (min-width: $bp-tablet) and (max-width: $bp-desktop) {
    .about__description {
        max-width: 80%;
    }
}

@media (min-width: $bp-desktop) {
    .about__image {
        margin: 0;
    }

    .about__text {
        width: 60%;
        position: absolute;
        padding: 3rem;
        right: -3rem;
        bottom: -4rem;
        text-align: left;
    }
}