.creations {
    color: white;

    &__flex--wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
    }

    &__headline {
        color: $black;
        display: inline-block;
    }

    &__button {
        color: $black;
        padding: 10px 30px;
        border: 1px solid $black;
        letter-spacing: 2px;
        text-align: center;
        transition: all 0.3s ease-in-out;

        &--mobile {
            width: 50%;
            display: block;
            margin: 2rem auto;

        }

        &--desktop {
            display: none;
        }
    }

    &__button:hover,
    &__button:focus,
    &__button:active {
        background: $black;
        color: $white;
    }

    &__button::before {
        content: none;
    }


    &__link::before {
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        transition: all ease-in-out 0.4s;
    }

    //.creations__link:hover::before
    &__link:hover::before,
    &__link:focus::before,
    &__link:active::before {
        filter: opacity(0.5) contrast(0.5);
    }

    &__link:hover,
    &__link:focus,
    &__link:active {
        color: rgba($black, 0.9);
    }

    &__link {
        position: relative;
        cursor: pointer;
        color: $white;
        width: 100%;
        height: 150px;
        padding: 1.5rem;
        margin-top: 2rem;
        transition: all ease-in-out 0.4s;

        &--contents {
            position: relative;
            display: flex;
            align-content: flex-end;

        }

        &--title {
            width: 40%;
        }

        &--earth::before {
            background: linear-gradient($linear-gradient-darken),
                        url("/dist/images/mobile/image-deep-earth.jpg") no-repeat center center;
            background-size: cover;
        }
        &--arcade::before {
            background: linear-gradient($linear-gradient-darken),
                        url("/dist/images/mobile/image-night-arcade.jpg") no-repeat center center;
            background-size: cover;
        }
        &--soccer::before {
            background: linear-gradient($linear-gradient-darken),
                        url("/dist/images/mobile/image-soccer-team.jpg") no-repeat center center;
            background-size: cover;
        }
        &--grid::before {
            background: linear-gradient($linear-gradient-darken),
                        url("/dist/images/mobile/image-grid.jpg") no-repeat center center;
            background-size: cover;
        }
        &--above::before {
            background: linear-gradient($linear-gradient-darken),
                        url("/dist/images/mobile/image-from-above.jpg") no-repeat center center;
            background-size: cover;
        }
        &--borealis::before {
            background: linear-gradient($linear-gradient-darken),
                        url("/dist/images/mobile/image-pocket-borealis.jpg") no-repeat center center;
            background-size: cover;
        }
        &--curiosity::before {
            background: linear-gradient($linear-gradient-darken),
                        url("/dist/images/mobile/image-curiosity.jpg") no-repeat center center;
            background-size: cover;
        }
        &--fisheye::before {
            background: linear-gradient($linear-gradient-darken),
                        url("/dist/images/mobile/image-fisheye.jpg") no-repeat center center;
            background-size: cover;
        }
    }


}

@media(min-width: $bp-tablet) {
    .creations {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__headline {
            margin: 100px 0;
            text-align: left;
        }

        &__link {
            width: 49%;
            height: 200px;
            margin-top: 0;
            margin-bottom: 30px;

            h3 {
                width: 100%;
            }
        }

        &__button--mobile {
            display: none;
        }

        &__button--desktop {
            display: block;
        }
    }
}

@media(min-width: $bp-desktop) {
    .creations {
        &__link {
            height: 450px;
            width: 23%;

            &--earth::before {
                background: linear-gradient($linear-gradient-darken),
                            url("/dist/images/desktop/image-deep-earth.jpg") no-repeat center center;
                background-size: cover;
            }
            &--arcade::before {
                background: linear-gradient($linear-gradient-darken),
                            url("/dist/images/desktop/image-night-arcade.jpg") no-repeat center center;
                background-size: cover;
            }
            &--soccer::before {
                background: linear-gradient($linear-gradient-darken),
                            url("/dist/images/desktop/image-soccer-team.jpg") no-repeat center center;
                background-size: cover;
            }
            &--grid::before {
                background: linear-gradient($linear-gradient-darken),
                            url("/dist/images/desktop/image-grid.jpg") no-repeat center center;
                background-size: cover;
            }
            &--above::before {
                background: linear-gradient($linear-gradient-darken),
                            url("/dist/images/desktop/image-from-above.jpg") no-repeat center center;
                background-size: cover;
            }
            &--borealis::before {
                background: linear-gradient($linear-gradient-darken),
                            url("/dist/images/desktop/image-pocket-borealis.jpg") no-repeat center center;
                background-size: cover;
            }
            &--curiosity::before {
                background: linear-gradient($linear-gradient-darken),
                            url("/dist/images/desktop/image-curiosity.jpg") no-repeat center center;
                background-size: cover;
            }
            &--fisheye::before {
                background: linear-gradient($linear-gradient-darken),
                            url("/dist/images/desktop/image-fisheye.jpg") no-repeat center center;
                background-size: cover;
            }
        }


    }
}


