.footer {
    margin-top: 150px;
    background-color: $black;
    color: $white;
    text-align: center;

    p {
        margin-bottom: 0;
    }

    // display social icons inline-block
    img {
        display: inline-block;
    }

    &__logo {
        margin: 60px auto;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
            margin-bottom: 60px;
        }
    }

    &__socialbox {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin: 0 auto;
    }

    &__copyright {
        margin-top: 50px;
        padding-bottom: 80px;
    }
}

@media(min-width: $bp-desktop) {
    .footer {

        .wrapper {
            padding-top: 50px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }

        &__logo {
            margin: 0;
            margin-bottom: 30px;
        }

        &__nav {
            display: block;
            margin: 0;
            margin-bottom: 30px;
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            text-align: left;
            a {
                margin-right: 20px;
            }
        }

        &__socialbox {
            display: block;
            margin: 0;
            text-align: right;
            margin-bottom: 30px;
            justify-self: end;
            a {
                margin-left: 20px;
            }
        }

        &__copyright {
            padding: 0;
            margin: 0;
            text-align: right;
            margin-bottom: 30px;
        }
    }
}
