header {
    padding: 40px 0;
    color: white;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),
                url("/dist/images/mobile/image-hero.jpg") no-repeat center center;
    background-size: cover;
    .wrapper {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
}

.navigation {

    &__logo {
        max-width: 40%;
        z-index: 100;
    }

    &__mobile {
        z-index: 100;

        &--overlay {
            display: flex;
            z-index: 50;
            background: $black;
            color: $white;
            position: absolute;
            top: 0; right: -1000px;
            height: 100vh;
            width: 100vw;
            transition: all 0.5s ease-in-out;
            font-size: $font-size-h3;
            font-family: $font-heading;

            ul {
                margin: auto 0;

                li:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
        }

        &--overlay.opened {
            display: flex;
            transform: translateX(-1000px);
        }
    }

    // hamburger menu
    &__mobile span {
        display: block;
        width: 25px;
        height: 2px;
        background: $white;
        margin-bottom: 5px;
        transition: all 0.4s ease-in;
    }

    &__mobile.open span:nth-child(1) {
        transform: translateY(7px) rotate(135deg);
    }

    &__mobile.open span:nth-child(2) {
        transform: translateX(10px);
        opacity: 0;
    }

    &__mobile.open span:nth-child(3) {
        transform: translateY(-7px) rotate(-135deg);
    }

    &__desktop {
        display: none;
    }

    &__desktop__link:not(:last-child) {
        margin-right: 2.3334rem;
    }

}

// header changes for 960px and above
@media only screen and (min-width: $bp-desktop) {
    header {
        background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), 
                    url("/dist/images/desktop/image-hero.jpg") no-repeat center center;
        background-size: cover;
    }

    .navigation__mobile {
        display: none;

        &--overlay {
            display: none;
        }
    }

    .navigation__desktop {
        display: block;
    }
}
